SQLALCHEMY_DATABASE_URL=postgresql+asyncpg://ex_user:ex_password@db:5432/ex_mydatabase
POSTGRES_USER=ex_name
POSTGRES_PASSWORD=ex_password
POSTGRES_DB_NAME=ex_database_name
SECRET_KEY=my_super_secret_key_123
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_TIME=7